.search-bar {
    font-size: 16px;
    margin: 20px;
    height: 36px;
    padding-left: 10px;
    width: 190px;
    border: 0.7px solid rgb(193, 191, 191);
    border-radius: 7px;
}

::placeholder {
    color: rgb(138, 137, 137);
}

.divider {
    background-color: black;
    height: 2px;
}

.google-search-bar {
    font-size: 13px;
    margin: 20px;
    width: 420px;
    height:30px;
    padding-left: 10px;
    border-radius: 20px;
    border: none ;
    box-shadow: 1px 1px 9px 0.1px rgb(207, 206, 206);
}

.email-search-bar {
    border: 1.8px solid rgb(61, 60, 60);
    height: 25px;
    width: 345px;
    border-radius: 3.4px;
}

.email, .email-search-bar, .text, .button-p {
    margin-left: 20px;
    font-family: Arial;
    font-size: 13px;
}

.email, .text {
    color: rgb(107, 105, 105);
}

.agree-join-button {
    padding: 10px 130px 10px 130px;
    font-size: 16px;
    border-radius: 18px;
    margin-bottom: 20px;
}

.agree-join-button:hover {
    opacity: 0.7;
}

.agree-join-button:active {
    background-color: white;
    color: rgb(34, 119, 229);
}

.goldenretriver-img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    object-position: right; 
    border-radius: 100%;
    vertical-align: middle;
    margin-left: 20px;
}

.whats-happening {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 8px;
    width: 270px;
    font-size: 15px;
    border: none;
    vertical-align: middle;
}

::placeholder {
    color: rgb(132, 129, 129);
}

.tweet-button {
    font-size: 13px;
    font-weight: bold;
    padding-top: 7px;
    padding-left: 14px;
    padding-right: 14px;
    padding-bottom: 7px;
    border-radius: 16px;
    vertical-align: middle;
}

.tweet-button:hover {
    opacity: 0.7;
}

.tweet-button:active {
    background-color: white;
    color: rgb(34, 119, 229);
}

.tweet-button, .agree-join-button {
    cursor: pointer;
    transition: opacity 0.15s;
    background-color: rgb(34, 119, 229);
    color: white;
    border: 1px solid rgb(34, 119, 229);
}

.first-name, .email-8a, .signup-button-8a {
    margin-left: 20px ;
}

.first-name, .last-name, .email-8a {
    font-size: 14px;
    font-family: arial ;
    height: 35px;
    border-radius: 7px;
    border: 1px solid rgb(219, 217, 217);
}

.first-name, .last-name {
    margin-bottom: 13px;
    width: 135px;
}

::placeholder {
    color: rgb(118, 115, 115) ;
    padding-left: 12px;
}

.email-8a {
    display: block;
    width: 275px;
    margin-bottom: 13px ;
}

.signup-button-8a {
    width: 278px;
    height: 40px;
    font-size: 16px;
    color: white;
    background-color: rgb(34, 119, 229);
    border: 1px solid rgb(34, 119, 229);
    border-radius: 7px;
    cursor: pointer;
    transition: opacity 0.2s;
}

.signup-button-8a:active{
    color: rgb(34, 119, 229);
    background-color: white;
}

.signup-button-8a:hover{
    opacity: 0.7;
}

.request-ride, .pickup-location, .destination, .request-button, .schedule-button {
    font-family: roboto;
    font-size: 12px;
    margin-left: 20px;
}

.request-ride {
    font-size: 35px;
    margin-bottom: 23px;
}

.pickup-location, .destination {
    display: block;
    margin-bottom: 7px;
    width: 330px;
    height: 38px ;
    background-color: rgb(239, 239, 239);
    border: none;
    border-radius: 1px;
    font-size: 13px;
}

::placeholder {
    color: rgb(118, 115, 115) 
}

.request-button, .schedule-button {
    margin-top: 25px;
    height: 40px ;
    width: 135px;
    border: none;
    font-size: 13px;
    cursor: pointer;
}

.schedule-button {
    margin-left: 10px;
    background-color: rgb(239, 239, 239);
}

.request-button {
    background-color: black;
    color: white;
}

.request-button:hover, .schedule-button:hover {
    opacity: 0.7;
}

.request-button:active, .schedule-button:active {
    background-color: white;
    color: black;

}

